{# 
 *  OrehaERP - allan.irdel
 *  Client.twig.html - utf8
#}
{% extends "::orehaTemplate.html.twig" %}
{% block body%}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            left
            {# COLONNE GAUGHE #}
        </div>
        <div class="span10">
            <h1>Client</h1>
<img src="{{ qrcode_url("BEGIN:VCARD
VERSION:2.1
FN:Jean Dupont
N:Dupont;Jean
ADR;WORK;PREF;QUOTED-PRINTABLE:;Bruxelles 1200=Belgique;6A Rue Th. Decuyper
LABEL;QUOTED-PRINTABLE;WORK;PREF:Rue Th. Decuyper 6A=Bruxelles 1200=Belgique
TEL;CELL:+1234 56789
EMAIL;INTERNET:jean.dupont@example.com
UID:
END:VCARD") }}" />
        </div>
    </div>
</div>
{% endblock body %}