{# OrehaERP - Allan - Oreha:ErpBundle:Bien:edit.html.twig #}
{% extends "::orehaTemplate.html.twig" %}
{% block title %}{{ parent()}} - Modifier bien{% endblock %}
{% block body%}
<div class="container-fluid">
    <div class="row-fluid">
        <div  class="span10">
            <fieldset><legend>Modifier bien</legend>
                <div class="well">
                    <form method="post" {{ form_enctype(formBien) }}>
                        {{ form_widget(formBien) }}
                        <input type="submit" class="btn btn-primary" />
                        <a class="btn" href="{{ path('oreha_erp_contact_voir', { 'id': bien.dossier.id}) }}">Annuler</a>
                    </form>
                </div>
            </fieldset>
        </div>
    </div>
</div>
{% endblock body%}