{# OrehaERP - Allan - OrehaUserBundle::layout.html.twig #}
{% extends is_granted('ROLE_SUPER_ADMINlol') ? "::orehaAdminTemplate.html.twig" : "::orehaAdminTemplate.html.twig" %}
{% block body %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8">
            {% for key, messages in app.session.flashbag.all() %}
                <div class="alert alert-{{ key }}">
                    {% for message in messages %}
                       {{ message|trans({}, 'FOSUserBundle') }}
                    {% endfor %}
                </div>
            {% endfor %}

            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>

</div>
{% endblock %}

